body
{
  background-color: #333;
}

.content
{
  /*@include susy-grid-background;*/
  @include container;

  width: 90%;
}

.box
{
  @include span-columns($total-columns omega, $total-columns);
  @include border-radius(6px);

  background-color: #000;
  margin: 2% 0 35% 0;
}

h1, h2,
p,
img
{
  margin: 4%;
  width: 92%;
}

h1
{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}

hgroup
{
  h1
  {
    text-align: left;
  }
}

h2
{
  font-size: 26px;
  font-weight: 200;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 0;
}

p,
label,
textarea
{
  font-weight: 200;
}

code
{
  display: block;
  font-family: "courier new", monospace;
  margin: 4%;
}

a
{
  text-decoration: none;
}

ul
{
  list-style: none;
  text-align: center;
}

li
{
  font-weight: 200;
  margin-top: 3%;
}

nav li
{
  display: inline;
}

label
{
  display: block;
  margin: 3% 0 0 4%;
}

input
{
  vertical-align: middle;
}

textarea
{
  @include border-radius(6px);

  margin: 0 0 4% 4%;
  padding: 5px;
  width: 77%;
}

button
{
  margin: 4%;
}

.btn-danger,
.btn-danger:hover,
.btn-danger:visited
{
  color: #000;
  font-weight: 200;
  letter-spacing: 1px;
}

.btn.active
{
  color: #fff;
}

.btn-large
{
  font-size: 16px;
}

.last
{
  margin-bottom: 0;
}

.text-input
{
  @include border-radius(6px);

  border: 0;
  font-weight: 200;
  padding: 5px;
  width: 80%;
}

.input-short
{
  width: 50%;
}

.msg
{
  @include border-radius(6px);

  background-color: #ccc;
  border: 3px solid #666;
  color: #000;
  font-size: 16px;
  margin: 4% auto;
  padding: 3%;
  text-align: center;
  width: 80%;
}

.success
{
  background-color: #cfc;
  border: 3px solid #0a0;
  color: #080;
}

.error
{
  background-color: #fcc;
  border: 2px solid #a00;
  color: #800;
}

.bottom-margin
{
  margin-bottom: 30%;
}

@media print
{
  body,
  .box
  {
    background-color: #fff;
  }

  li,
  label,
  h1, h2,
  p
  {
    color: #000;
  }

  label,
  .btn,
  .success,
  .error,
  .print-remove
  {
    display: none;
  }
}
